[2019-11-02 08:23] hashirshoaeb opened #1 "Spell Checking"
Project contains spelling mistakes. You can contribute in this repository by correcting mistakes.
Either in [README.md](https://github.com/hashirshoaeb/home/blob/master/README.md) or [configurations.json](https://github.com/hashirshoaeb/home/blob/master/src/configurations.json)

[2019-12-16 11:58] iprithvitharun commented on #1
I've sent a pull request

[2019-12-16 11:59] iprithvitharun commented on #1
@hashirshoaeb I've sent a pull request

[2019-12-16 14:08] hashirshoaeb commented on #1
Hey, @iprithvitharun
I have viewed your changes and I really liked it. Also I have added a comment for small changes.

[2019-12-24 18:12] #1 closed

[2020-03-07 17:59] hashirshoaeb opened #3 "Hover property problem"
There is an issue in hover property of social media icons in mainbody.jsx

[2020-03-10 08:09] #3 closed

[2020-03-18 07:50] hashirshoaeb opened #8 "Found a potential security vulnerability in one of the dependencies."
Upgrade minimist to version 1.2.2 or later. For example:

[code]
or…
[code]

[2020-03-29 12:12] hashirshoaeb opened #9 "React Class-Based Component to React Hooks Migration"

[2020-03-29 14:47] yonis9 commented on #9
Hi, which components do you want to transform into functional components with hooks?

[2020-03-29 15:21] hashirshoaeb commented on #9
Hi @yonis9
Thank you for taking interest. I'm thinking of migrating all the components to hooks. This will make the codebase look more clean. I'll appreciate your thoughts on it.

Best,
Hashir

[2020-03-29 16:14] yonis9 commented on #9
I don't think it's mandatory but we can do it.
In addition, maybe I didn't fully understand, But I think you misusing the state in some components, for example in the AboutMe.jsx:

    this.state = {
      heading: "About me",
      aboutDev: Configs.aboutDev,
      instaProfilePic: '',
      showInsta: Configs.showInstaProfilePic,
      resumeURL: Pdf
    };
  }`

I think you can get rid of the "

[2020-03-29 21:01] hashirshoaeb commented on #9
Yes @yonis9. I did this on purpose. So that I did not have to go into the code the change the text. Simply i can change this from state.

[2020-03-29 21:55] yonis9 commented on #9
OK no problem. So I will convert it to use hooks tomorrow, is it fine?

[2020-03-30 06:05] hashirshoaeb commented on #9
Yeah Sure.

[2020-03-30 06:27] hashirshoaeb commented on #9
The purpose is to increase the readability of code. By:
 - removing unnecessary things,
- changing components to hooks
- reengineering complex logic to simple.

And feel free to share your ideas.

[2020-03-30 17:02] #9 closed

[2020-03-31 01:29] hashirshoaeb opened #11 "Adding new Features to Dev's Portfolio"
There are few things you can do.
- You can make resume button optional.
- Also resume could be a .pdf file or drive link.
- Also you can write logic if number of project on GitHub is zero , then hide the heading.

[2020-03-31 09:35] #8 closed

[2020-04-20 16:51] Kishan1029 commented on #11
Do you want to make resumes button optional in About me section?

[2020-04-20 18:06] Kishan1029 commented on #11
I have to added a code to see if file exist or not. That if it exist it will show the button or else print error on console

[2020-04-20 20:24] hashirshoaeb commented on #11
Hey @Kishan1029
Yes yes. :D

[2020-04-20 20:27] hashirshoaeb commented on #11
For Contribution,
- Fork this repository,
- Clone the code to your computer.
- Make changes as you want.
- Commit, Push, and send me Pull Request.

Happy coding :D

[2020-04-22 14:46] Kishan1029 commented on #11
I am having trouble with fs.existSync which checks if file exist or not. It says fs is not function do know anything about it

[2020-04-22 14:59] Kishan1029 commented on #11
I have added code to check if file exist or not

[2020-04-22 19:38] hashirshoaeb commented on #11
Hey @Kishan1029 I have looked into your [repo](https://github.com/Kishan1029/home/tree/master).

<img width="993" alt="Screenshot 2020-04-23 at 12 17 15 AM" src="https://user-images.githubusercontent.com/35165481/80024179-18242800-84f8-11ea-8a7a-2ec8c1290f18.png">

Branch is even with my repo. I think you have not pushed the changes, that you have made locally.
Here is the [link](https://help.gith

[2020-04-22 19:45] hashirshoaeb commented on #11
Also, please work on master branch instead of extended branch. extended branch is not for that purpose. So I'm closing your pull request. Cuz you opened it wrong.

[2020-04-22 19:47] Kishan1029 commented on #11
Sorry I fix and send new pull request.

[2020-05-05 14:46] hashirshoaeb opened #17 "Navigation Bar, Bootstrap, React"
**Easy to contribute.** Need to making Navigation bar more **beautiful and responsive**, than the existing one.
<img width="1440" alt="Screenshot 2020-05-05 at 7 43 22 PM" src="https://user-images.githubusercontent.com/35165481/81079218-b789e780-8f08-11ea-847a-b60da48ad291.png">
<img width="1440" alt="Screenshot 2020-05-05 at 7 45 09 PM" src="https://user-images.githubusercontent.com/35165481/8107

[2020-06-08 22:03] hashirshoaeb opened #20 "Dark Mode Feature"
Most of the modern websites have Dark and Light mode options. I'm thinking of adding dark mode to this portfolio template. **Issue is open for discussion and contribution.**

[2020-06-14 15:25] justiceserv opened #21 "Adding my portfolio to Readme.md"
I did what you wrote for me in issue section, and it works fine now!
(I wrote in issues section because i do not know how to mention.. and i deleted my previous repo)
Thanks a lot for helping me!

[2020-06-14 18:06] hashirshoaeb commented on #21
Hey! 😄

Glad to hear that my contributions to the open source, somehow ease your day. And Thank you for using my repo. I'll try to include your version in my readme master as soon as possible. After that i'll close this issue. ❤️

However you can help me in making this repo more awesome, by sharing this to your mates or endorse it on social media. Feel free to create new issues for feature request

[2020-06-15 10:43] justiceserv commented on #21
Thanks a lot!
I would gladly share this repo to my teammates

[2020-06-23 06:12] hashirshoaeb commented on #21
@justiceserv Check readme please.

[2020-06-25 12:46] Tashima42 opened #22 "Name too big for mobile"
This project is awesome! Thanks for sharing it.

I made my own protifolio and translated the page to brazilian portuguese, but when i was testing on my phone, i noticed that my name was passing the borders of the top section. I solved it changing the `.display-1` on the CSS of the gh-pages branch from 6rem to 5rem, but this isn't the best way, can you help me with this?

[2020-06-25 12:48] Tashima42 commented on #17
I noticed that the Nav Bar doesn't work on mobile.

[2020-06-25 14:40] hashirshoaeb commented on #17
@Tashima42 Thank you for noticing. I'll look into this issue soon.

[2020-06-25 14:46] hashirshoaeb commented on #22
Thank you again. ❤️

Can you please explain what do you mean by, "my name was passing the borders of the top section"?

[2020-06-25 15:14] hashirshoaeb commented on #22
Also can you translate the content in the readme? i'd like to feature your repo in my readme section. Are you comfortable with it?

[2020-06-25 17:04] Tashima42 commented on #22
Here are two screenshots of the issue.
![image](https://user-images.githubusercontent.com/23709916/85765492-8b127080-b6ec-11ea-9381-d347840657bc.png)
![image](https://user-images.githubusercontent.com/23709916/85765506-8f3e8e00-b6ec-11ea-920c-6e2459486460.png)

I will definitely translate in the next few days!

[2020-06-25 19:20] hashirshoaeb commented on #22
https://github.com/hashirshoaeb/home/blob/8aa111dd2acf1e07de6e7432f71c40df0cc4970d/src/components/home/MainBody.jsx#L37

For better approach you can edit the above line of code. You can replace **1** in **"display-1"** with **2, 3 or 4** for smaller size.
For details about bootstrap class and size you can refer this [link](https://getbootstrap.com/docs/4.5/content/typography/#display-headings).
Tr

[2020-06-25 19:28] hashirshoaeb opened #23 "NavBar Toggler is not working"
Bootstrap4 toggler button in navigation bar is not working on click in react.

[2020-06-25 20:10] #22 closed

[2020-06-25 21:01] Tashima42 opened #24 "Portuguese translation"
Hi, i've been working on a portuguese version of the website.
This is my fork: [Tashima42/home](https://github.com/tashima42/home)

TODO list (feel free to add more itens):
- [x] README
- [x] MainBody
- [x] AboutMe
- [x] ProjectCard
- [x] Footer
- [x] Navbar
- [x]  index/html
- [x] Blog
- [x] package.json

Se você fala português e inglês, por favor contribua traduzindo e revisando minhas traduções

[2020-06-26 05:01] hashirshoaeb commented on #24
- [ ] editable-stuff/configurations.json, the keys

[2020-06-26 09:48] justiceserv commented on #21
Thanks a lot! Can I close issue?

[2020-06-26 12:15] hashirshoaeb commented on #21
Closing it.

[2020-06-26 12:15] #21 closed

[2020-06-27 18:00] Tashima42 commented on #24
@hashirshoaeb Can you explain me?

[2020-06-27 21:30] hashirshoaeb commented on #24
You know data in configuration.json is in json (key, value pairs) format. You can translate the keys in Portuguese.

for example in,
[code]
you can translate "backgroundType". And so on with all the keys in the configuration.json

[2020-06-27 22:13] Tashima42 commented on #24
I could, but I don't think it's appropriate. For that kind of thing, english is the default, even for Brazilian devs.

[2020-06-27 23:15] hashirshoaeb commented on #24
Okay, you can leave it as it is. Once you are done with translation, let me know. I'd like to feature your repo version in my readme.

[2020-06-29 19:04] Tashima42 commented on #24
This week a friend will review the translation and when everything is right, I will post a new comment and close the issue.

[2020-06-29 20:18] hashirshoaeb commented on #24
Best

[2020-06-30 11:37] hashirshoaeb commented on #24
After the review process. Edit the Readme.md and Feature your Repo there and open a pull request with the reference of this issue.

[2020-06-30 14:21] #11 closed

[2020-07-03 19:25] Tashima42 commented on #24
Just finished the revision, how should i feature my repo?

[2020-07-05 13:11] hashirshoaeb commented on #24
Make a nice heading (ie Portuguese version) and attach the link of your repo. Heading should come after the showcase heading. Is that cool? You are free to make the readme more beautiful and readable.

[2020-07-06 00:04] Tashima42 commented on #24
I couldn't make a pull request because I already have a fork, so I created a gist with the README: [https://gist.github.com/Tashima42/37524da1fef87ea20145ec342c54b383](https://gist.github.com/Tashima42/37524da1fef87ea20145ec342c54b383)

[2020-07-06 07:25] hashirshoaeb commented on #24
Okay. So I'll open up a pull request and let you review it. Is that fine?

[2020-07-06 12:12] Tashima42 commented on #24
Just approved the changes, i'm going to close the issue. Thank you for all the help @hashirshoaeb !
Se você tem alguma contribuição, por favor reabra esse problema.

[2020-07-06 12:12] #24 closed

[2020-07-13 17:22] anaashrafi opened #27 "Programmatically set the title for pdf file opening in new tab (_blank) in browser"
When you click on the resume button in the about me section, it opens a new tab with the resume but the tab name does not match the name of the resume file.

[2020-07-13 22:20] hashirshoaeb commented on #27
<img width="562" alt="Screenshot 2020-07-14 at 3 01 38 AM" src="https://user-images.githubusercontent.com/35165481/87358414-38a3d180-c57f-11ea-80b0-41fc77cb2387.png">

**Query**: How to programmatically set the title for pdf file opening in new tab (_blank) in browser. As screenshot attached above.
**Possible solution:** https://stackoverflow.com/questions/50759857/how-to-set-title-for-pdf-file-op

[2020-07-13 22:26] hashirshoaeb commented on #27
If anyone can solve this issue. Please feel free to send Pull Request.

Happy coding

[2020-07-21 05:21] darshittrevadia opened #29 "Option to Upload profile picture or use LinkedIn profile picture instead of the Instagram Profile picture"
Instagram is not a very formal platform, And the profile picture there is not suitable to be put up on a portfolio website, rather have LinkedIn profile picture or let the user upload their own photograph instead of the Instagram profile picture

[2020-07-21 20:24] hashirshoaeb commented on #29
Sure, will look into it.
Thanks

[2020-07-21 20:27] hashirshoaeb commented on #29
If you can fix it, then feel free to create pull request. 😃

[2020-07-22 12:34] darshittrevadia commented on #29
I am still learning web development. I'd like to, but can't. Sorry

Also, one more thing, when I share the link to my friends, the preview photograph of your website, which I would not want to show. How do I change that too? Thanks a lot!
![preview](https://user-images.githubusercontent.com/68571544/88176943-ae760000-cc45-11ea-9384-14e346fe825f.jpeg)

[2020-07-22 14:04] hashirshoaeb commented on #29
**Steps:**
- Navigate to the "public" folder.
- There you will see "social-image.png".
- Delete it.
- Take a screenshot of your version and rename it "social-image.png" and place it there.
- For depth knowledge about "link preview" you can read or google "metadata tags in html or react"

Let me know if it works for you.
Happy coding.

[2020-07-22 14:39] #23 closed

[2020-07-22 23:27] darshittrevadia commented on #29
I followed the exact same steps. But still it is showing your social-image.png not mine.

I redid the same thing at least 6 times. And still, it didn't help!! :(

![Screenshot from 2020-07-23 04-53-41](https://user-images.githubusercontent.com/68571544/88238893-8b2c6e80-cca0-11ea-95a0-297f73bfc1fe.png)

It says  the URL is Invalid

![Screenshot from 2020-07-23 04-54-36](https://user-images.githubu

[2020-07-23 11:56] hashirshoaeb commented on #17
@Tashima42 The issue has been fixed.

[2020-07-23 12:09] hashirshoaeb opened #32 "Readme: Write the guideline in README.md to deploy website at <my username>.github.io"
Many developers had reached out for this issue. As they want to publish their version at <username>.github.io instead of <username>github.io/home. Now i'm thinking of adding this guideline in README.md.

If you can write it, then feel free to create pull request. 😃

[2020-07-23 15:16] hashirshoaeb commented on #32
- Create a new md file in [READMEdocs](https://github.com/hashirshoaeb/home/tree/master/READMEdocs).
- Name it "custom-deployment.md"
- Add instructions there.
Then
In the README.md
- Add.
 **"Or for custom deployment, refer pages.js and custom-deployment.md "** in place of this **"Or for custom deployment, refer pages.js"**

[2020-07-23 16:44] #32 closed

[2020-07-23 18:55] hashirshoaeb commented on #29
hmm,
Did you build the project after making changes?
or is it working fine now?

[2020-07-23 19:41] hashirshoaeb opened #35 "How to change data shown in preview link."
Need to write guideline in README.md about changing preview link data.

[2020-07-25 23:08] InvincibleKnight opened #36 "Scaling in mobile device"
- The main text, i.e the name is too large.
- Nav Bar, when opened, overlaps with text behind.
- Animation, when played distorts the main page.

[2020-07-26 13:07] hashirshoaeb commented on #36
@telriot will be looking into this issue.

[2020-07-30 08:50] #36 closed

[2020-07-30 08:51] #17 closed

[2020-07-30 08:53] hashirshoaeb commented on #20
Need to select light and dark colour scheme first i guess.

[2020-08-06 11:22] tanmaypandey7 opened #40 "Whatsapp thumbnail different from the website"
![Screenshot from 2020-08-06 16-48-59](https://user-images.githubusercontent.com/36691630/89526162-f4fe5980-d804-11ea-8aab-10ad13a9edac.png)
Everything has been modified as per the README [here](https://github.com/hashirshoaeb/home/blob/master/READMEdocs/custom-deployment.md)
Not sure why this is happening, any help?

[2020-08-06 13:07] hashirshoaeb commented on #40
Hi @tanmaypandey7

**Steps:**
- Navigate to the "public" folder.
- There you will see "social-image.png".
- Delete it.
- Take a screenshot of your version and rename it "social-image.png" and place it there.
- For depth knowledge about "link preview" you can read or google "metadata tags in html or react"
- Build and deploy the project again.

Let me know if it works for you.
Happy coding.

[2020-08-06 13:09] hashirshoaeb commented on #40
Same as #35

[2020-08-06 13:30] tanmaypandey7 commented on #40
Hi Hashir, thanks for the response.

I have changed the social-image.png according, built and deployed it as well.

![Screenshot from 2020-08-06 18-51-09](https://user-images.githubusercontent.com/36691630/89536621-d2287100-d815-11ea-9107-2f8a6c0480f9.png)
However, I am still getting the old social-image.png for some reason. Any idea why that might be happening?
Sorry, I have no idea about react h

[2020-08-06 13:52] hashirshoaeb commented on #40
@tanmaypandey7 I have looked into your repo https://github.com/tanmaypandey7/tanmaypandey7.github.io and tested your link https://tanmaypandey7.github.io/ here https://www.heymeta.com/url/tanmaypandey7.github.io/ And it is showing me your recent changes as your want.
Attaching some screenshots.
<img width="749" alt="Screenshot 2020-08-06 at 6 48 23 PM" src="https://user-images.githubusercontent.co

[2020-08-06 13:57] tanmaypandey7 commented on #40
Thank you Hashir, it might have been a caching issue or something. It is working for me on other apps.

Thanks a ton for your help again. Means a lot <3

[2020-08-06 13:57] #40 closed

[2020-08-06 14:03] hashirshoaeb commented on #40
Glad to hear that it's working now. Feel free to approach me anytime @tanmaypandey7 ❤️
Thank you for forking this repo. ⭐

Best,
Hashir Shoaib

[2020-08-07 13:31] hashirshoaeb commented on #29
To get picture from LinkedIn through LinkedIn apis, one requires authorisation and authentication. So we are skipping this for now. Maybe we will reconsider it for the next version.

[2020-08-07 13:31] #29 closed

[2020-08-25 02:39] TowerX commented on #27
@anaashrafi , @hashirshoaeb, I stumbled upon this issue and found it very interesting. I inspected the actual PDF trying to find a possible solution to this and here it shows where it is getting the **<title>** from:

![resumeTittleIssue](https://user-images.githubusercontent.com/8185609/91116383-3b9fe080-e65a-11ea-8905-9e4785b9a94e.PNG)

Probably out of scope for this **Issue** but here it goes:

[2020-08-25 18:02] bibinvargheset opened #44 "Timeline"
It would be good if you can add a timeline feature to projects and experiences like in https://stephanemonnot.com/

The code for the same can be seen  at  https://stephane-monnot.github.io/react-vertical-timeline/#/

[2020-08-25 20:14] hashirshoaeb commented on #27
Damn How can I be so dumb. Thanks a lot @TowerX for figuring out the root of this issue.
So it means is that instead of setting(overwriting) the title of the browser tab. I need to set(overwrite) the Title(metadata) of pdf file. This will automatically update the browser title.

Following are the possible solutions that found after a bit of googling:
- Manual way: [How to Change the PDF Title that

[2020-08-25 20:40] hashirshoaeb commented on #44
Thank you for the suggestion sir. I already had this idea in mind. But I personally did not like it. Because timeline UI takes more screen space as compare to the text it displays (more empty space and less text content).

A better look of Timeline is this https://summerofcode.withgoogle.com/how-it-works/#timeline
It is taking less space and rich in text content.

Currently I'm working on publishi

[2020-08-28 13:26] guilyx opened #47 "Just a heads up"
Hey,

I felt free to add your project here : https://github.com/guilyx/awesome-github-pages-portfolios
It's just a heads up, if you want to remove it/don't want it featured there, do tell.

[2020-08-28 15:04] hashirshoaeb commented on #47
Great, Thanks.

[2020-08-28 15:07] hashirshoaeb commented on #47
I would suggest you, if you can take a snapshot and make gif of it.
like these:
- https://github.com/hashirshoaeb/home#showcase-
- https://portfoliohub.umihi.co/?page=3

[2020-08-28 15:10] guilyx commented on #47
Great idea 💯

[2020-08-28 15:18] #47 closed

[2020-08-28 20:16] #27 closed

[2020-09-03 20:59] TowerX commented on #27
@hashirshoaeb I'm glad! For this specific scenario, I think it is safe to say that a resume document won't change every day. By making sure the file meta is correct, you will have a nice page title. I don't think you need to go as far as finding a programmatic way unless you want a challenge :) Let me know if you have any other questions. Happy to help :)

Regards,

TowerX

[2020-09-03 21:03] TowerX commented on #35
@hashirshoaeb Can you elaborate on this? Maybe I can help with this.

[2020-09-13 20:15] hashirshoaeb commented on #27
A website that can help in changing the title other metadata of pdf file. https://pdfcandy.com/result/3ecab7710648.html

[2020-09-15 01:43] Ujjwal3009 opened #48 "Unnecessary code line in top bar"
There is a line showing </harsha> in top bar

[2020-09-15 05:58] hashirshoaeb commented on #48
@Ujjwal3009 Can you explain it a bit more?

[2020-09-16 17:25] Ujjwal3009 commented on #48
![Screenshot_2020-09-16-22-54-56-78](https://user-images.githubusercontent.com/50870185/93371267-b4681600-f86f-11ea-9afb-8277c56ad664.png)
See the top left </harshit>

[2020-09-16 19:03] hashirshoaeb commented on #48
Do you mean **"/"** this? in <**Hashir** /> ?? @Ujjwal3009

[2020-09-19 13:01] Ujjwal3009 commented on #48
Yes

[2020-09-19 13:02] #48 closed

[2020-09-23 19:03] HCury opened #49 "Skills/Picture"
Good afternoon Hashir,

I am trying to use the template, but would like to know if there is any way to use my GitHub picture or LinkedIn picture instead?

I am also curious about the "Skills" section you have added to your .io. Can you shed some light on how I add that part to mine?

There is also the case where I don't have Facebook/Twitter/Instagram. How do I remove these icons? I was able to re

[2020-09-24 02:36] hashirshoaeb commented on #49
Hi @HCury

Thank you for reaching out. I and Ben are working on version 2 of this portfolio template. And we have solved most of your queries there.
Steps to get those changes:
- Checkout to **new-features** branch https://github.com/hashirshoaeb/home/tree/new-features
[code]
- Make your changes In [home/src/editable-stuff/config.js](https://github.com/hashirshoaeb/home/blob/new-features/src/edita

[2020-09-24 15:56] HCury commented on #49
Good afternoon Hashir,

Any specific dimensions the "Leadership" pictures should be?

All my images seem to be stretched or squished.

[2020-09-24 20:35] hashirshoaeb commented on #49
Hmm, Thank you for pointing this out. I'll add the option to set dimensions in the config.js file.

For now dimensions are hardcoded, (width="615" height="450")
Either you can crop you images to this size or change width and height in [home/src/components/home/Leadership.jsx](https://github.com/hashirshoaeb/home/blob/new-features/src/components/home/Leadership.jsx)
[width line 26](https://github.c

[2020-09-26 13:00] hashirshoaeb commented on #49
Hi @HCury I'm closing this issue now. If you have more questions you can contact me at hashirshoaeb@gmail.com

[2020-09-26 13:00] #49 closed

[2020-09-27 13:04] pearces17 opened #51 "Responsive?"
I check that your deployment come to responsive web, but not the current code on this repository. Can you please update for the responsive one?

[2020-09-27 13:14] hashirshoaeb commented on #51
@pearces17 checkout [new-features](https://github.com/hashirshoaeb/home/tree/new-features) branch 😃

[2020-09-27 14:25] pearces17 commented on #51
i'll check it on next morning do in my timezone, if it still does'nt do the responsive web, any help? i check your deployment so awesome with the responsive

[2020-09-27 14:52] hashirshoaeb commented on #51
Yeah sure, I'll be happy to help. 😄

[2020-09-28 02:51] pearces17 commented on #51
i find out that the https://github.com/hashirshoaeb/home/tree/new-features actually do the responsive web, except when i try to add new components and then i don't know how to keep it responsive. Thankyou so much @hashirshoaeb

[2020-09-28 02:51] #51 closed

[2020-09-28 09:33] Sy3Omda opened #53 "inquiry"
any instructions to publish this in our own website ?

[2020-09-28 10:04] hashirshoaeb commented on #53
I think i didn't get your question properly. I'd like if you explain a bit more..

[2020-09-28 13:31] #53 closed

[2020-09-30 14:10] TowerX commented on #35
@hashirshoaeb I will work on this task tomorrow. I wanted to apologize for the delay.

[2020-09-30 15:01] hashirshoaeb commented on #35
Sure.

[2020-10-01 06:23] #35 closed

[2020-10-02 06:30] Dinesh101041 opened #57 "Fav icon"
Change the fav icon in the tilte bar ,there is icon of react so please change

![image](https://user-images.githubusercontent.com/59551894/94894369-d637de80-04a6-11eb-8f2b-8eb36a8961b0.png)

[2020-10-02 10:25] hashirshoaeb commented on #57
Sure, I'd love if you suggest a better favicon.

[2020-10-02 10:51] Dinesh101041 commented on #57
I suggest keep your picture  that will look nice sir

[2020-10-02 10:54] hashirshoaeb commented on #57
Okay I will look into it. Thanks.

[2020-10-02 11:40] Dinesh101041 commented on #57
welcome sir

[2020-10-02 19:53] #57 closed

[2020-11-22 18:22] S-Philp opened #60 "Question"
This isn't really an "issue." I love how you have made the repositories section dynamic! But, I was wondering if there is a way to add the repos website (from the About section of the repository) or an image from the ReadMe file to the project card somehow?

[2020-11-24 18:13] hashirshoaeb commented on #60
Hi,

Thank you but I think that it is not possible. Since I'm using GitHub API https://api.github.com/users/hashirshoaeb/repos?sort=updated&direction=desc for fetching data of repos.

[2020-11-25 05:24] S-Philp commented on #60
Thank you!

[2020-11-25 05:25] #60 closed

[2020-11-25 20:21] S-Philp opened #61 "Personalized versions"
You wanted us to share if we made any changes? I'm not sure where to do that. It's not a major change. But here I just used cards for my skills:

https://s-philp.github.io/Shannel.philp/

[2020-11-25 22:11] hashirshoaeb commented on #61
Amazing! I'll showcase your version in my readme soon. Also can you share the link your code? So that if one likes your version he or she can use your code as template.

Happy hacking

[2020-11-25 22:15] hashirshoaeb commented on #61
Ahh and you can share this on twitter or linkedin or you can share it with your friends and mates ;)

[2020-11-25 22:52] S-Philp commented on #61
https://github.com/S-Philp/Shannel.philp

[2020-11-25 22:53] S-Philp commented on #61
Thank you!!! This is shared on my LinkedIn.

[2020-12-02 18:32] Anu-bhav opened #62 "Error on Blog Page"
Hi Hashir,

I really like the theme and I did deploy an older version of this theme.
I've learnt reactjs with this theme, when I was customising my website.
You can take a look at it: https://anubhav.xyz/
Github: https://github.com/Anu-bhav/Portfolio

However now I want to enable the blog part of the website. And I cloned the latest version.
Github of the current one: https://github.com/Anu-bhav/w

[2020-12-03 02:55] hashirshoaeb commented on #62
Hi @Anu-bhav ,
I'm sorry to tell you that the "blog feature" is not ready and is incomplete. I'll be happy if you implement this feature and send pull request to this project.

However, @telriot If you are free can you help him?

Best,
Hashir

[2020-12-03 03:28] telriot commented on #62
Hi Hashir!

I am sorry but I have started an internship this week and things are going
to be rough for a little while!

Will let you know when I come back to living 😅

Ben

On Thu, Dec 3, 2020, 11:55 AM Hashir Shoaib <notifications@github.com>
wrote:

[2020-12-03 04:21] hashirshoaeb commented on #62
Yeah sure @telriot 😃

[2020-12-03 05:11] Anu-bhav commented on #62
Hi everyone,

No worries, I'll implement the blog feature.

However I think the error has to do with a bug in the scrolling functions of the navbar.

I think it's because the navbar effects were supposed to work with a single page layout, and on the blog page, it cannot access the offset when we try scrolling.

I've also encountered the same bug on the blog listing page. When i scroll, i get the e

[2020-12-03 19:05] hashirshoaeb commented on #62
Hmm, I have a busy schedule this month.
But you can comment out the hooks and logic that observe the scrolling position from the code to keep other things working.

Else, I'll try to look into your code if I found time on weekend.

Best,
Hashir

[2020-12-04 07:26] Anu-bhav commented on #62
No worries, I just created another netlify for the blog and added it as a subdomain.

I changed the Navbar blog link to point to my subdomain.

[2020-12-04 07:26] #62 closed

[2020-12-30 20:37] Soham-coder opened #64 "Education and Work Experience Section"
A section containing education and work experience will be great . Your portfolio is great and perhaps one of the cleanest and minimal there is in the net.

And also a switch between light and dark themes if possible.

Great work!

[2020-12-31 03:29] hashirshoaeb commented on #64
@Soham-coder please describe the issue.

[2021-01-10 16:26] 1hanzla100 opened #66 "Add Experience Section"
There should be a experience section

[2021-01-10 16:29] hashirshoaeb commented on #66
Yeah, that would be great if you create a PR for it 😉

[2021-01-10 16:36] 1hanzla100 commented on #64
I want to add exprience section in this project

[2021-01-10 16:51] 1hanzla100 commented on #66
I want to contribute in this project

[2021-01-10 17:23] hashirshoaeb commented on #66
Assigned #64

[2021-01-10 17:23] #66 closed

[2021-01-10 20:26] 1hanzla100 commented on #64
@hashirshoaeb  I have successfully added experience section in project and made a pull request. Kindly merge it with master

[2021-01-11 05:34] 1hanzla100 opened #68 "UI Improvements"
I want to add Some animations to the components to make them more attractive

[2021-01-11 05:51] 1hanzla100 commented on #64
https://user-images.githubusercontent.com/59178380/104150173-d7a86980-53fa-11eb-83a0-a1b859dae1cd.mp4

[2021-01-11 05:55] hashirshoaeb commented on #64
@1hanzla100 i have emailed you at:  hanzla.tauqeer123@gmail.com

[2021-01-11 06:01] 1hanzla100 commented on #64
hashirshoaeb <https://github.com/hashirshoaeb>  I have successfully added
experience section in project and made a pull request. Kindly merge it with
master branch

On Mon, Jan 11, 2021 at 10:56 AM Hashir Shoaib <notifications@github.com>
wrote:

[2021-01-13 05:22] #68 closed

[2021-01-18 00:50] xunxdd opened #69 "Thanks"
Hey, Hashir,

I built my portfolio site using your template, make some changes.

https://xunxdd.github.io/portfolio/

Thanks a lot.

If you do not mind, I would like to add an improvement to set active menu item as you scroll.  I am new to react, but still would like to contribute and learn.

Thanks a lot

[2021-01-18 03:48] hashirshoaeb commented on #69
Hi @xunxdd,

I'm glad to see your version of portfolio. It's really tempting. 😃 I'll probably showcase your version in my readme.
Yess, setting an active tab in navigation bar would be a nice contribution. ✨

Best,
Hashir

[2021-01-19 00:59] xunxdd commented on #69
Thanks. @hashirshoaeb . I made a pr, however found that I am not able to do a pull request against this repo.

` const sections = document.querySelectorAll(".target-section");

      sections.forEach(function(current) {
        const sectionHeight = current.offsetHeight;
        const sectionTop = current.offsetTop - 50;
        const sectionId = current.getAttribute("id");
        const pos = nav

[2021-01-19 03:30] hashirshoaeb commented on #69
hmm, seems like you have not forked this repo.

1. fork this repo.
2. clone your forked repo into your computer.
3. create a branch.
4. make changes in that branch.
5. push the branch to your forked repo.
6. create a pull request.

learn more from, here https://www.neonscience.org/resources/learning-hub/tutorials/version-control-github

Feel free to ping me via email or linkedin, if you face any i

[2021-01-20 04:11] xunxdd commented on #69
oh, thanks a lot. I have never forked any repo. Guess one more thing learned. pr done. feel free to comment, reject, or anything you see fit

[2021-01-21 13:21] hashirshoaeb commented on #69
Sure, I'll test this locally. 🔥

[2021-02-02 07:37] manitbaser opened #71 "Projects with no description | Skeleton Issue"
Projects which have no description (for example sd_card as of now), the description keeps on loading.
<img width="593" alt="Screenshot 2021-02-02 at 1 04 13 PM" src="https://user-images.githubusercontent.com/49650773/106567135-50609880-6557-11eb-9577-c03cb3a42737.png">

[2021-02-02 07:56] manitbaser commented on #71
#72

[2021-02-13 04:28] #71 closed

[2021-02-13 04:28] #64 closed

[2021-03-04 10:29] sasankan opened #73 "I couldn't solve this issue"
TypeError: resumeData is undefined

![Screenshot_2021-03-04 React App](https://user-images.githubusercontent.com/17333099/109950385-74ec9380-7d02-11eb-8bbd-4dc361efe6b0.png)

[2021-03-04 10:31] Sai999teja opened #74 "TAB NAME"
How could I change the tab name?

[2021-03-04 13:50] hashirshoaeb commented on #74
In home/src/components/Navbar.jsx

Line: 58, 67 and 82.

https://github.com/hashirshoaeb/home/blob/a69cfff8e24aa55acfc7f45fa9dc98364114f37e/src/components/Navbar.jsx#L58
https://github.com/hashirshoaeb/home/blob/a69cfff8e24aa55acfc7f45fa9dc98364114f37e/src/components/Navbar.jsx#L67
https://github.com/hashirshoaeb/home/blob/a69cfff8e24aa55acfc7f45fa9dc98364114f37e/src/components/Navbar.jsx#L82

[2021-03-04 13:55] hashirshoaeb commented on #73
Probably you have not followed the step 4 mention in readme.

-  `Add your resume as <resume.pdf> in place of src/editable-stuff/resume.pdf `

Kindly confirm if you have done this.

[2021-03-04 14:00] hashirshoaeb commented on #73
Wait a sec, are you sure this is my code? I do not have `resumeData` anywhere in my project.

[2021-03-04 14:01] hashirshoaeb commented on #74
Let me know if that works.

[2021-03-04 18:27] #73 closed

[2021-03-04 18:30] sasankan commented on #73
Hi Hashir
  I'm extremely sorry. That issue was there because some other file got
mixed up. It was completely my fault. Thank you so much for the code.

Regards
Sasankan

On Thu, 4 Mar, 2021, 7:31 PM Hashir Shoaib, <notifications@github.com>
wrote:

[2021-03-06 02:58] hashirshoaeb commented on #74
Hopefully this has solved your query. I'm closing the issue now.

[2021-03-06 02:58] #74 closed

[2021-04-07 06:06] AmirHajimohamadi opened #78 "Last name goes out of the frame in mobile mode"
I found a bug that when i view the website with my mobile, my last name goes out of the frame, because the length is a little more than what it was supposed to. You can check it yourself here: amirhajimohamadi.ir
![Screenshot_2021-04-07-10-31-50-123_com android chrome](https://user-images.githubusercontent.com/67223978/113818433-00879300-978d-11eb-9fa9-9ba40a44cb6c.jpg)

[2021-04-08 02:03] hashirshoaeb commented on #78
@1hanzla100 can you help him please?

[2021-04-08 07:40] 1hanzla100 commented on #78
@hashirshoaeb @AmirHajimohamadi  See its working Fine
![Pic](https://user-images.githubusercontent.com/59178380/113987179-8aa42a00-9867-11eb-81fd-2ab645ea17dc.PNG)

[2021-04-08 07:52] hashirshoaeb commented on #78
@1hanzla100 his screen size is maybe smaller than usual. However please write down the steps for him(as I discussed with you earlier). Or you can make a pull request to his code.

[2021-04-08 07:55] hashirshoaeb commented on #78
@1hanzla100 check at 315px width.

[2021-04-28 11:56] lucitemple opened #79 "New feature question : homepage button in projects"
Hi @hashirshoaeb

I've forked your project and am working on adding a homepage button on the project card. You can see what I've done so far [here](https://github.com/lucitemple/home/blob/feature-homepage-button/src/components/home/ProjectCard.jsx).

What currently works:
- button displays correctly next to other buttons
- the github pages url address has passed down correctly to the buttons compo

[2021-05-01 17:59] hashirshoaeb commented on #79
Hi @lucitemple
I'm sorry to respond late.  I have really tight schedule these days. Will you mind reminding me next weekend? I'll be happy to help.

@telriot can you assist us on this issue please?

Best,

[2021-05-05 01:38] lucitemple commented on #79
@hashirshoaeb Thanks, there's no hurry, I'll check in with you on the weekend to see if you're able to help then :)

[2021-05-08 10:05] lucitemple commented on #79
Hi @hashirshoaeb, just checking back in with you in case you have some time this weekend to take a look at this. No worries if you are too busy, I don't want to intrude.

[2021-05-09 10:47] hashirshoaeb commented on #79
Hi @lucitemple I have checked your code that was in your, `feature-homepage-button` branch.

On running I saw the `homepage` button that you have added.
<img src="https://user-images.githubusercontent.com/35165481/117568963-b02d8900-b0dc-11eb-9747-f7e75a8f5266.png" width=350 />

On clicking it, nothing was happening. So I started debugging it and found a bug [here](https://github.com/lucitemple/ho

[2021-05-10 11:01] lucitemple commented on #79
Thanks so much @hashirshoaeb!

[2021-05-10 11:02] #79 closed

[2021-06-22 15:40] uljadberdica1000 opened #90 "Node JS live server not working"
Great Design! I am struggling to get the Node JS live-server to display the page correctly.
It just opens the folder and the page does not show up. I cd in the folder that has index.html and the liver-server shows nothing.

[2021-06-23 15:12] #90 closed

[2021-07-23 15:26] jishanshaikh4 opened #92 "Only main page with social icons and resume/blog buttons"
I've created an HTML/CSS only version of your homepage with the help of your repo content.

Repo link: https://github.com/jishanshaikh4/v0.1
Demo: https://jishanshaikh4.github.io/v0.1

[2021-07-25 04:28] hashirshoaeb commented on #92
Cool 😃

[2021-07-25 19:40] #92 closed

[2021-07-26 11:26] eliabntt opened #93 "Blog section"
Hi, I'm currently trying out your project, very nice work 👍🏻  Did you manage to solve the blog section? I think one of the issues is related to the offsetTop in the navbar.

Moreover, not sure why (I'll have to retry) on stackblitz the blog pages are built while in github they are not. I might have a couple of hints on this though.

Best,
Elia

[2021-07-26 18:21] hashirshoaeb commented on #93
Hi, sorry but I didn't give much time to blog section. I feel like re inventing the wheel so i left it incomplete.
your second question: maybe to need react router for this.

Btw I'm working on the new version of my portfolio. https://github.com/hashirshoaeb/portfolio/ It is private right now. I'll soon make it public.

Best,
Hashir

[2021-07-26 18:23] eliabntt commented on #93
There were some wrong redirects mainly. I'm still looking into the strange behaviour (error)  of the navbar.

Thanks for letting me know :)

[2021-07-27 11:29] eliabntt commented on #93
I solved everything here. You can check the template [here](https://eliabntt.github.io/tmp-react). Sorry about the spamming of my face 😂

[2021-07-27 11:35] hashirshoaeb commented on #93
@eliabntt Amazing!!! Can you make your repository nice, clean and easy to configure? To appreciate your effort. I'll be happy to mention your repository link in my readme.md.

[2021-07-27 11:37] eliabntt commented on #93
Yeah, I’ll bring everything to my main page soon 😉

From: Hashir Shoaib
Sent: 27 July 2021 13:35
To: hashirshoaeb/home
Cc: Elia Bonetto; Mention
Subject: Re: [hashirshoaeb/home] Blog section (#93)

@eliabntt Amazing!!! Can you make your repository nice, clean and easy to configure? To appreciate your effort. I'll be happy to mention your repository link in my readme.md.
—
You are receiving this be

[2021-07-27 12:13] hashirshoaeb commented on #93
Good luck. ❤️

[2021-07-29 13:19] eliabntt commented on #93
I solved also the tracking with GAnalytics.

[2021-08-11 15:23] eliabntt commented on #93
ehi, I've published the website [here](https://eliabntt.github.io/#/) sooner or later I'll do the readme :)

[2021-08-11 15:41] hashirshoaeb commented on #93
Documentation is the boring part of coding haha!. Anyway, please share the link of your repository, I'll be happy to mention it in my readme.

[2021-08-22 14:12] naqeeb2710 opened #99 "Education Section missing"

[2021-08-22 15:43] hashirshoaeb commented on #99
@naqeeb2710 Feel free to make PR. 😃

[2021-08-23 05:01] shreyshreyansh opened #100 "Uneven boxes"
![Screenshot 2021-08-23 103019](https://user-images.githubusercontent.com/53744971/130392886-4c224bf3-0a88-483b-ba2b-231b2a38d355.png)

[2021-08-28 20:16] hashirshoaeb commented on #99
https://github.com/huiga/huiga.github.io

[2021-09-19 06:09] gpsurya opened #102 "Deployment issue"
11:31:16 AM: Build ready to start
11:31:18 AM: build-image version: 081db65c3e4ce8423fedb40e7689a87de6f84667
11:31:18 AM: build-image tag: v4.3.1
11:31:18 AM: buildbot version: a7ed393d7802bf453be684c29d76700ec4b7cbba
11:31:19 AM: Fetching cached dependencies
11:31:19 AM: Failed to fetch cache, continuing with build
11:31:19 AM: Starting to prepare the repo for build
11:31:19 AM: No cached depende

[2021-09-19 06:46] hashirshoaeb commented on #102
Probably because, you are using node v16.9.1 (npm v7.21.1)
how where I've used node v14.17.3 (npm v7.19.1)

[2021-09-22 06:30] #102 closed

[2021-10-19 15:53] Jaibean opened #105 "sh: react-scripts: command not found"
When I run npm run build I get an error that the react-scripts command is not found. Should I be running npm install and these commands from the home folder? Should I set up a virtual environment? Lost on how to get this to deploy, any help is appreciated. Thank you, Jaimie.

[2021-10-20 16:33] #105 closed, assigned to nobody

[2021-11-12 15:54] shaznan opened #106 "Make recent projects card height consistent"
Making the card heights consistent will make the UI look better.

[2021-11-12 15:57] shaznan opened #107 "Add Preview thumbnails to recent projects cards"
I would suggest to add project thumbnails as it gives a good first impression to your projects and helps the viewer grasp on what the project is about on first sight 🥇

[2021-11-12 16:03] shaznan opened #108 "Add all of your technical skills that you currently know under the skills section"
Based on this project, I can already see that you have more skills other than what is listed on your skills section.

Such as:
- React Js
- Bootstrap
- SCSS

By adding more skills from your knowledge stack, you can let the recruiters know what your capacity is just by looking at your portfolio page.

[2021-11-15 06:07] hashirshoaeb commented on #106
duplicate of https://github.com/hashirshoaeb/home/issues/100

[2021-11-15 06:07] #106 closed

[2021-11-15 06:25] hashirshoaeb commented on #108
Thank you for your suggestions. I appreciate your time.
This project has been archived. Feel free to make your own version. I'll be happy to showcase your version in my README. Kindly check the Notice [here](https://github.com/hashirshoaeb/home#notice).

Also I'm currently working on my new portfolio project which is open for contribution. You can find it [here](https://github.com/hashirshoaeb/por

[2021-11-15 06:25] #108 closed

[2021-11-15 06:28] hashirshoaeb commented on #107
This is such a nice suggestion. I appreciate your time. I'll surely consider your suggestion in my [new project](https://github.com/hashirshoaeb/portfolio).

But I'm sorry to inform you that this project has been archived. Feel free to make your own version. I'll be happy to showcase your version in my README. Kindly check the Notice [here](https://github.com/hashirshoaeb/home#notice).

Also I'm c

[2021-11-15 06:28] #107 closed

[2021-11-15 10:40] shaznan commented on #107
great! I'll take a look at your new project and see what I can contribute, cheers!

[2021-11-28 21:11] shiyu99 opened #110 "Unable to update the website after a few months of deployment"
First of all, thank you for sharing your awesome website! I started adapting this template for my personal website a few months ago. I was able to start modifications and deploy to: https://shiyu99.github.io/.

However, today, when I wanted to continue the modification and deploy the updates to GitHub pages again, I could not make it work. **My localhost copy is updated but the GitHub page stays t

[2021-11-28 21:29] shiyu99 commented on #110
As a follow up, when I changed the configuration in pages.js from "branch: "gh-pages"" to "branch: "main"", and run build and custom deploy again, I got the error message that the branch already exists. Is this a cache issue, if so, how to solve it?

![image](https://user-images.githubusercontent.com/53148393/143786704-114698d7-9b50-492d-9fef-ac95d37ec087.png)

[2021-11-29 05:35] hashirshoaeb commented on #110
I'll look into your issue, and get back to you soon.

[2021-12-05 21:19] shiyu99 commented on #110
Thanks, Hashir! Have you been able to identify the issue root cause?

[2021-12-07 03:27] hashirshoaeb commented on #110
Hi, I looked into your repo. Seems like you have not pushed your changes. Also I could not find your `shiyu99.github.io` probably you have made it private.

Since you are deploying to `shiyu99.github.io` use either `master` or `main` as branch name. If you see error that `branch already exists` simply delete the repo and a new empty repo `shiyu99.github.io` and deploy again.

If you want to use an

[2021-12-10 22:15] shiyu99 commented on #110
Yeah, I have that repo as private. I just sent you an invite to access the repo. Please check and let me know if you still have an access issue.

I don't know if I should delete the branch, because I've made a lot of personalization to the main branch already. If I delete the branch I will lose all the changes.

Thank you so much for your help thus far! Really appreciate it.

[2021-12-11 05:06] hashirshoaeb commented on #110
messaged you on linkedIn.

[2021-12-11 14:55] hashirshoaeb commented on #110
(issue resolved)

problem: you cannot publish on private repository. or else you need to own pro subscription.

[2021-12-11 14:55] #110 closed

[2021-12-20 10:03] sydneypack opened #111 "hi"
hlo

[2021-12-20 12:36] hashirshoaeb commented on #111
spam

[2021-12-20 12:36] #111 closed

[2022-01-29 07:55] ZacharyHimes opened #113 "Failed to compile 'jumbotron', this is depreciated as of bootstrap 5?"
Getting this when i run npm start:

`Failed to compile.

./src/components/home/Skills.jsx
Attempted import error: 'Jumbotron' is not exported from 'react-bootstrap'.`

[2022-01-29 14:31] hashirshoaeb commented on #113
please share your node and npm version using following commands

[code]

[2022-01-29 22:24] ZacharyHimes commented on #113
npm: 8.1.2
node: v16.13.2

[2022-02-05 06:18] hashirshoaeb commented on #113
I'm not actively maintaining this project. It perfectly works with versions below
[code]
Maybe you need to downgrade your node version to work on this. If you like, feel free to contribute, in making this project compatible with latest versions. Or you can take a look into my other portfolio project.  https://github.com/hashirshoaeb/portfolio

[2022-03-10 19:55] sydneypack commented on #111
Sydneypack....Hlo everyone

[2022-08-09 07:16] hashirshoaeb opened #125 "[Migration] React 16 -> 18"

[2022-08-09 07:18] hashirshoaeb commented on #113
Fixed in #125 with #126

[2022-08-09 07:18] #113 closed

[2022-09-04 07:05] Sy3Omda opened #128 "error due to build"
Hi Bro,
i`m facing error as following
[code]
is there some deprecated packages need to update !
i can reproduce this error in nodejs 16 and 18 as well

[2022-09-04 07:14] hashirshoaeb commented on #128
Hi, Thanks for reporting. Feel free to fix and create pull request ❤️

[2022-09-06 09:28] Sy3Omda commented on #128
Thanks, i have fixed it via purge Nodejs and reinstall v16 which compatible with sass version

[2022-09-06 09:28] #128 closed